<%= form_with(model: grade) do |form| %>
  <% if grade.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
        <% grade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :specification, style: "display: block" %>
    <%= form.text_area :specification %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.text_field :product_id %>
  </div>
  <br>
   <div>
    <h2>Associated metatags:</h2>
    <!-- Fields for the associated MetaTag -->
  <%= form.fields_for :seo_tag do |meta_tag_fields| %>
    <div class="form-group">
      <%= meta_tag_fields.label :title, 'Meta Tag Title' %>
      <%= meta_tag_fields.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= meta_tag_fields.label :description, 'Meta Tag Description' %>
      <%= meta_tag_fields.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= meta_tag_fields.label :keywords, 'Meta Tag keywords' %>
      <%= meta_tag_fields.text_field :keywords, class: 'form-control' %>
    </div>

    <!-- Add fields for other MetaTag attributes as needed -->

  <% end %>

  </div>


  <div>
<%= form.submit "new grades", class: "btn btn-gradient big-btn", data: { turbo: false } %>  </div>
  </div>
<% end %>
