<% content_for :title, @grade.seo_tag.title if defined?(@grade) && @grade.seo_tag.present? %>
<% content_for :description, @grade.seo_tag.description if defined?(@grade) && @grade.seo_tag.present? %>
<% content_for :keywords, @grade.seo_tag.keywords if defined?(@grade) && @grade.seo_tag.present? %>

<%= render "layouts/slide"%>

<%= render "layouts/productsmenu"%>


<section class="ls s-pt-xl-160 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-280 s-pb-lg-250 s-pb-md-90 s-pb-60 c-gutter-60">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p style="color: green"><%= notice %></p>

        <h3 id="specification1">
         <%= @grade.product.name.titleize %> <%= @grade.name.titleize %>
       </h3>
       <hr>
       <%= render @grade %>

     </div>
   </div>
 </div>
</section>
<%# Product Schema %>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "<%= @grade.product.name %>",
    "description": "<%= @grade.product.description %>",
    "image": "",
    "mpn": "HS Code", // Using HS code as the Manufacturer Part Number
    "brand": {
      "@type": "Brand",
      "name": ""
    }
  }
</script>

<%# Grade Schema as part of the Product %>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "<%= @grade.product.name %> <%= @grade.name %>",
    "description": "<%= @grade.description %>",
    "category": "<%= @grade.product.name %>",
    "mpn": "HS Code", // Using HS code as the Manufacturer Part Number
    "brand": {
      "@type": "Brand",
      "name": ""
    }
  }
</script>
