<%= form_with(model: packing) do |form| %>
  <% if packing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(packing.errors.count, "error") %> prohibited this packing from being saved:</h2>

      <ul>
        <% packing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>
    <div>
    <%= form.label :specification, style: "display: block" %>
    <%= form.text_area :specification %>
  </div>

  <div>
    <h2>Associated Products:</h2>
    <%= form.collection_check_boxes :product_ids, @products, :id, :name do |builder| %>
      <div class="form-check">
        <%= builder.check_box class: "form-check-input" %>
        <%= builder.label class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <br>
   <div>
    <h2>Associated metatags:</h2>
    <!-- Fields for the associated MetaTag -->
  <%= form.fields_for :seo_tag do |meta_tag_fields| %>
    <div class="form-group">
      <%= meta_tag_fields.label :title, 'Meta Tag Title' %>
      <%= meta_tag_fields.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= meta_tag_fields.label :description, 'Meta Tag Description' %>
      <%= meta_tag_fields.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= meta_tag_fields.label :keywords, 'Meta Tag keywords' %>
      <%= meta_tag_fields.text_field :keywords, class: 'form-control' %>
    </div>

    <!-- Add fields for other MetaTag attributes as needed -->

  <% end %>

  </div>
  <br>

  <div>
<%= form.submit "new packing", class: "btn btn-gradient big-btn", data: { turbo: false } %>    </div>
<% end %>
