<% content_for :title, @packing.seo_tag.title if defined?(@packing) && @packing.seo_tag.present? %>
<% content_for :description, @packing.seo_tag.description if defined?(@packing) && @packing.seo_tag.present? %>
<% content_for :keywords, @packing.seo_tag.keywords if defined?(@packing) && @packing.seo_tag.present? %>

<%= render "layouts/slide"%>

<%= render "layouts/productsmenu"%>


<section class="ls s-pt-xl-160 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-280 s-pb-lg-250 s-pb-md-90 s-pb-60 c-gutter-60">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p style="color: green"><%= notice %></p>

        <h3>
          <%= @packing.name.titleize %>
        </h3>
        <hr>
        <%= render @packing %>

      </div>
    </div>
  </div>
</section>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Product",
    "name": "<%= @packing.name %>",
    "description": "<%= @packing.description %>",
    "image": "",
    "brand": {
      "@type": "Brand",
      "name": "<%= @packing.name %>"
    },
    "offers": {
      "@type": "Offer",
      "priceCurrency": "USD",
      "price": "call",
      "availability": "https://schema.org/InStock"
    }
  }
</script>
