
<% content_for :title, "Quality Oil Products Supplier | Bitumen, Paraffin, Slack Wax, Base Oil" %>
<% content_for :description, "Looking for top-quality oil products? We're your trusted supplier for bitumen, paraffin, slack wax, base oil, and more. Get competitive prices and exceptional service." %>
<% content_for :keywords, "Buy bitumen, bitumen price, bitumen supplier, Paraffin wax supplier, slack wax supplier, base oil supplier, High-quality oil products, Competitive prices, trusted oil supplier, reliable oil products" %>
<!-- template sections -->

<!--topline section visible only on small screens|-->

<%= render "layouts/slide"%>

<%= render "layouts/productsmenu"%>







<section class="ds s-overlay portfolio-section  s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="special-heading text-center">
					<span class="text-capitalize">
						Products
					</span>
				</h2>
				<div class="divider-50 hidden-below-lg"></div>
				<div class="divider-30 hidden-above-lg"></div>
				<div class="row justify-content-center">
					<div class="col-md-10 col-xl-8">
						<div class="filters gallery-filters">
							<%if @products.first %>
							<a class="selected active" href="#" data-filter=".<%= @products.first.name.parameterize%>"><%= @products.first.name%></a>
							<% @products.drop(1).each do |product|%> 
							<a href="#" data-filter=".<%= product.name.parameterize%>"><%= product.name%></a>
							<% end %>
							<% end %>


						</div>
					</div>
				</div>


				<div class="row isotope-wrapper masonry-layout c-gutter-30 c-mb-30">
					<% @products.each do |product|%>
					<% product.grades.take(3).each do |grade|%>
					<div class="col-xl-4 col-md-6 <%= product.name.parameterize %> ">
						<div class="icon-box service-single ls with-icon rounded big-padding text-center articlecard" style="padding: 38px 60px !important;">
							<%= link_to grade_path(grade), class: "mt-0 #{grade.name.parameterize}", data: { turbo: false } do %>
							<h5 class="mt-0 text-info">
								<%= grade.name %>
							</h5>
							<% end %>
							<%= link_to product_path(product), class: "mt-0 #{grade.name.parameterize}", data: { turbo: false } do %>
							<h6 class="">
								<%= product.name.titleize %>
							</h6>
							<% end %>
							<p class="text-justify">
								<%= truncate(grade.description, length: 250) %>
							</p>
							<h6 class="text-secondary mt-5 text-left">
								Available packings
							</h6>
							<ul class="text-left">
								<% product.packings.each do |packing| %>
								<li class="text-secondary">
									<%= link_to packing_path(packing), class: "text-secondary", data: { turbo: false } do %>
									<%= packing.name.titleize %>
									<% end %>								</li>
									<% end %>
								</ul>
								<%= link_to "read more", grade_path(grade), class: "btn btn-outline-maincolor text-secondary mt-0", data: { turbo: false }%>
							</div>
						</div>
						<% end %>
						<% end %>
					</div>
					<div class="mt--30"></div>
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="divider-60"></div>
							<%= link_to "See All Product", products_path, class: "btn btn-maincolor2 big-btn text-danger", data: { turbo: false } %>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




	<section class="ls main-testimonial s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-3 text-center">
					<h1 class="special-heading text-center">
						<span class="text-capitalize">
							Buy Bitumen <span class="gheyb"> bitumen supplier, Paraffin wax supplier, slack wax supplier, base oil supplier, High-quality oil products, Competitive prices, trusted oil supplier, reliable oil products</span>
						</span>
					</h1>
					<div class="divider-30"></div>
					<%= link_to "Get A Quote", new_inqury_path, data: { turbo: false }, class: "btn btn-gradient big-btn" %>
				</div>
				<div class="col-12 col-lg-6 text-center">
					<div class="divider-35 hidden-above-lg"></div>
					<div class="divider--5"></div>
					<h2 class="">
						High-Quality Oil Products
					</h2>
					<p>
						When it comes to sourcing the highest quality bitumen at competitive prices, look no further than GLOBAL SYNERGY.
					</p>
				</div>
				<div class="col-12 col-lg-3 text-sm-left text-center">
					<div class="divider-35 hidden-above-lg"></div>
					<div class="signature">

						<div class="signature-content">
							<span>Get in touch with us today</span>
							<%= image_tag "logo.png", alt: "buy bitumen, bitumen price" %>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center mt-5">
					<p>
						As a prominent player in the industry, we take pride in our role as a hub for top-grade petroleum products. With representative offices strategically located in UAE, China and Turkey, we offer a global reach that ensures seamless access to our extensive range of oil products. Our product portfolio encompasses not only bitumen but also paraffin wax, slack wax, and more. What sets us apart is our commitment to sourcing directly from renowned Middle East brands, ensuring the authenticity and excellence of our offerings. Discover unbeatable bitumen prices and a comprehensive selection of oil products, all underpinned by our unwavering dedication to quality and reliability. Choose us as your trusted partner for all your bitumen and petroleum product needs.
					</p>
				</div>
			</div>
		</div>
	</section>




	<section class="articlehome ls s-pt-xl-160 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-280 s-pb-lg-250 s-pb-md-90 s-pb-60 c-gutter-60 c-mb-30">
		<div class="container pb-1">

			<div class="row">
				<main class="col-lg-7 col-xl-8">
					<h2 class="special-heading text-center">
						<span class="text-capitalize">
							Latest Articles
						</span>
					</h2>
					<p class="special-heading text-center">
						<span class="text-capitalize color-darkgrey bold">
							our blog
						</span>
					</p>
					<div class="divider-50 hidden-below-lg"></div>
					<div class="divider-30 hidden-above-lg"></div>
					<div class="col-lg-12">

						<div class="row isotope-wrapper portfolio masonry-layout c-mb-30">
							<% @latest_articles.take(4).each do |article|%>
							<div class="col-xl-6 col-md-6">
								<div class="vertical-item text-center content-padding rounded overflow-hidden">
									<div class="item-media">
										<% if article.image.attached? %>
										<%= image_tag article.image, class: 'rounded', alt: "buy bitumen, bitumen price" %>
										<% end %>
										
									</div>
									<div class="item-content">
										<h6>

											<%= link_to article.title, post_path(article), data: { turbo: false } %>

										</h6>

										<p>
											<%= truncate_html(article.content.body.to_html, length: 150) %>	<%= link_to "Read more", post_path(article), data: { turbo: false } %>
										</p>

									</div>
								</div>

							</div>
							<% end %>


						</div>
						<!-- .isotope-wrapper-->
					</div>

				</main>

				<aside class="col-lg-5 col-xl-4">
					<div class="widget widget_recent_entries">

						<h3 class="widget-title">Recent Entries</h3>

						<ul>
							<% @latest_articles.drop(4).take(6).each do |article| %>
							<li>
								<%= link_to article.title, post_path(article), data: { turbo: false } %>
								<br>
								<span>
									<i class="far fa-calendar-alt"></i>
									<%= link_to article.created_at.strftime("%d %b %y"), post_path(article), data: { turbo: false, class: "text-danger" }  %>									</span>	
								</li>
								<% end %>
							</ul>
						</div>
						<div class="widget widget_slider">

							<h3 class="widget-title">Applications</h3>

							<div class="owl-carousel" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">

								<% @application_posts.each do |application| %>
								<div class="vertical-item">
									<div class="item-media">
										<% if application.image.attached? %>
										<%= image_tag application.image, alt: "buy bitumen, bitumen price" %>
										<% end %>						
									</div>
									<div class="item-content">
										<h4>
											<%= link_to application.title, post_path(application), data: { turbo: false } %>

										</h4>
										<p class="item-meta">
											<i class="far fa-calendar-alt"></i>
											<%= link_to application.created_at.strftime("%d %b %y"), post_path(application), data: { turbo: false }  %>

										</p>

									</div>
								</div>
								<!-- .vertical-item -->
								<% end %>

							</div>
							<!-- .owl-carousel -->

						</div>
						<div class="widget widget_tag_cloud">

							<h3 class="widget-title">Tags</h3>

							<div class="tagcloud text-center">

								<a href="#" class="tag-cloud-link">
									Bitumen
								</a>

								<a href="#" class="tag-cloud-link">
									RPO
								</a>

								<a href="#" class="tag-cloud-link">
									Products
								</a>

								<a href="#" class="tag-cloud-link">
									Market
								</a>

								<a href="#" class="tag-cloud-link">
									Price
								</a>
								<a href="#" class="tag-cloud-link">
									Applications
								</a>
								<a href="#" class="tag-cloud-link">
									Packings
								</a>
								<a href="#" class="tag-cloud-link">
									Oil products
								</a>

							</div>
						</div>



					</aside>
				</div>
			</div>
		</section>







		<section class="ls ms s-pt-xl-160 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-280 s-pb-lg-250 s-pb-md-90 s-pb-60">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2 class="special-heading text-center">
							<span class="text-capitalize">
								Latest News
							</span>
						</h2>
						<p class="special-heading text-center">
							<span class="text-capitalize color-darkgrey bold">
								our blog
							</span>
						</p>
						<div class="divider-50 hidden-below-lg"></div>
						<div class="divider-30 hidden-above-lg"></div>
						<% if @latest_news[2] %>
						<div class="shortcode-posts row tiled-layout c-gutter-30 c-mb-30">

							<div class="bigitem col-xl-6 col-lg-5">
								<article class="vertical-item ls rounded post type-post status-publish format-standard has-post-thumbnail">
									<div class="item-media post-thumbnail">

										<a href="<%= post_path(@latest_news.first) %>" data-turbo="false">
											<%= image_tag @latest_news.first.image, alt: "buy bitumen, bitumen price" %>
										</a>

									</div><!-- .post-thumbnail -->
									<div class="item-content">
										<header class="entry-header">
											<div class="entry-meta">
												<div class="byline">
													<span class="date">
														<a href="#" rel="bookmark">
															<time class="published entry-date">
																<%= @latest_news.first.created_at.strftime('%d.%m.%Y') %>
															</time>
														</a>
													</span>
													<span class="author vcard">
														<a class="url fn n" href="#" rel="author"><span>by</span> Amir</a>
													</span>
												</div>
											</div>
											<h4 class="entry-title">
												<a href="<%= post_path(@latest_news.first) %>" data-turbo="false" rel="bookmark">
													<%= @latest_news.first.title %>
												</a>
											</h4>

											<!-- .entry-meta -->
										</header>
										<!-- .entry-header -->

										<div class="entry-content">
											<p>
												<%= truncate_html(@latest_news.first.content.body.to_html, length: 300) %>
											</p>
										</div><!-- .entry-content -->
									</div><!-- .item-content -->
								</article><!-- #post-## -->
							</div>


							<div class=" smallitem col-xl-6 col-lg-7">
								<article class="vertical-item side-item ls rounded post type-post status-publish format-standard has-post-thumbnail">
									<div class="item-media post-thumbnail">
										<a href="<%= post_path(@latest_news[1]) %>" data-turbo="false">
											<%= image_tag @latest_news[1].image, alt: "buy bitumen, bitumen price" %>
										</a>
									</div><!-- .post-thumbnail -->
									<div class="item-content">
										<header class="entry-header">
											<div class="entry-meta">
												<div class="byline">
													<span class="date">
														<a href="#" rel="bookmark">
															<time class="published entry-date">
																<%= @latest_news[1].created_at.strftime('%d.%m.%Y') %>
															</time>
														</a>
													</span>
													<span class="author vcard">
														<a class="url fn n" href="#" rel="author"><span>by</span> Amir</a>
													</span>
												</div>
											</div>
											<h4 class="entry-title">
												<a href="<%= post_path(@latest_news[1]) %>" data-turbo="false" rel="bookmark">
													<%= @latest_news[1].title %>
												</a>
											</h4>

											<!-- .entry-meta -->
										</header>
										<!-- .entry-header -->

										<div class="entry-content">
											<p>
												<%= truncate_html(@latest_news[1].content.body.to_html, length: 85) %>
											</p>
										</div><!-- .entry-content -->
									</div><!-- .item-content -->
								</article>
								<article class="vertical-item side-item ls rounded post type-post status-publish format-standard has-post-thumbnail">
									<div class="item-media post-thumbnail">
										<a href="<%= post_path(@latest_news[2]) %>" data-turbo="false">
											<%= image_tag @latest_news[2].image, alt: "buy bitumen, bitumen price" %>
										</a>
									</div><!-- .post-thumbnail -->
									<div class="item-content">
										<header class="entry-header">
											<div class="entry-meta">
												<div class="byline">
													<span class="date">
														<a href="#" rel="bookmark">
															<time class="published entry-date">
																<%= @latest_news[2].created_at.strftime('%d.%m.%Y') %>												</time>
															</a>
														</span>
														<span class="author vcard">
															<a class="url fn n" href="#" rel="author"><span>by</span> Amir</a>
														</span>
													</div>
												</div>
												<h4 class="entry-title">
													<a href="<%= post_path(@latest_news[2]) %>" data-turbo="false" rel="bookmark">
														<%= @latest_news[2].title %>
													</a>
												</h4>

												<!-- .entry-meta -->
											</header>
											<!-- .entry-header -->

											<div class="entry-content">
												<p>
													<%= truncate_html(@latest_news[2].content.body.to_html, length: 120) %>
												</p>
											</div><!-- .entry-content -->
										</div><!-- .item-content -->
									</article>
								</div>

							</div>
							<% end %>
							<div class="mt--30"></div>
						</div>
					</div>
				</div>
			</section>



