

<!-- template sections -->

<!--topline section visible only on small screens|-->

<%= render "layouts/slide"%>

<%= render "layouts/productsmenu"%>




<section class="ds s-overlay portfolio-section  s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="special-heading text-center">
					<span class="text-capitalize">
						Products
					</span>
				</h2>
				<div class="divider-50 hidden-below-lg"></div>
				<div class="divider-30 hidden-above-lg"></div>
				<div class="row justify-content-center">
					<div class="col-md-10 col-xl-8">
						<div class="filters gallery-filters">
							<a href="#" data-filter="*" class="active selected">All Products</a>
							<% @products.each do |product|%> 
							<a href="#" data-filter=".<%= product.name.parameterize%>"><%= product.name%></a>
							<% end %>


						</div>
					</div>
				</div>


				<div class="row isotope-wrapper masonry-layout c-gutter-30 c-mb-30">
					<% @products.each do |product|%>
					<% product.grades.each do |grade|%>
					<div class="col-xl-4 col-md-6 <%= product.name.parameterize %> ">



						<div class="icon-box service-single with-icon rounded  ls big-padding text-center">

							<a href="service-single.html">
								<h5 class="mt-0">
									<%= product.name.titleize%>
								</h5>
							</a>
							<a href="service-single.html">
								<h6 class="text-info">
									<%= grade.name%>
								</h6>
							</a>

							<p class="text-justify">
								<%= truncate(grade.description, length: 250) %>

							</p>
							<h6 class="text-secondary mt-5 text-left">
								Available packings
							</h6>
							<ul class="text-left">
								<% product.packings.each do |packing| %>
								<li>
									<%= packing.name.titleize%>
								</li>
								<% end %>
								
							</ul>
							<a class="btn btn-outline-maincolor text-secondary" href="service-single.html">
								read more
							</a>
						</div>








					</div>

					<% end %>
					<% end %>

				</div>


				<div class="mt--30"></div>
				<div class="row">
					<div class="col-lg-12">
						<div class="divider-60"></div>
						<a class="btn btn-maincolor2 big-btn" href="gallery-image.html">All projects</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>








<section class="ls ms s-pt-xl-160 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-280 s-pb-lg-250 s-pb-md-90 s-pb-60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="special-heading text-center">
					<span class="text-capitalize">
						Latest News
					</span>
				</h2>
				<p class="special-heading text-center">
					<span class="text-capitalize color-darkgrey bold">
						our blog
					</span>
				</p>
				<div class="divider-50 hidden-below-lg"></div>
				<div class="divider-30 hidden-above-lg"></div>
				<% if @latest_news[2] %>
				<div class="shortcode-posts row tiled-layout c-gutter-30 c-mb-30">
					
					<div class="bigitem col-xl-6 col-lg-5">
						<article class="vertical-item ls rounded post type-post status-publish format-standard has-post-thumbnail">
							<div class="item-media post-thumbnail">

								<a href="<%= post_path(@latest_news.first) %>" data-turbo="false">
									<%= image_tag @latest_news.first.image %>
								</a>

							</div><!-- .post-thumbnail -->
							<div class="item-content">
								<header class="entry-header">
									<div class="entry-meta">
										<div class="byline">
											<span class="date">
												<a href="#" rel="bookmark">
													<time class="published entry-date">
														<%= @latest_news.first.created_at.strftime('%d.%m.%Y') %>
													</time>
												</a>
											</span>
											<span class="author vcard">
												<a class="url fn n" href="#" rel="author"><span>by</span> Amir</a>
											</span>
										</div>
									</div>
									<h4 class="entry-title">
										<a href="<%= post_path(@latest_news.first) %>" data-turbo="false" rel="bookmark">
											<%= @latest_news.first.title %>
										</a>
									</h4>

									<!-- .entry-meta -->
								</header>
								<!-- .entry-header -->

								<div class="entry-content">
									<p>
										<%= truncate_html(@latest_news.first.content.body.to_html, length: 300) %>
									</p>
								</div><!-- .entry-content -->
							</div><!-- .item-content -->
						</article><!-- #post-## -->
					</div>
					

					<div class=" smallitem col-xl-6 col-lg-7">
						<article class="vertical-item side-item ls rounded post type-post status-publish format-standard has-post-thumbnail">
							<div class="item-media post-thumbnail">
								<a href="<%= post_path(@latest_news[1]) %>" data-turbo="false">
									<%= image_tag @latest_news[1].image %>
								</a>
							</div><!-- .post-thumbnail -->
							<div class="item-content">
								<header class="entry-header">
									<div class="entry-meta">
										<div class="byline">
											<span class="date">
												<a href="#" rel="bookmark">
													<time class="published entry-date">
														<%= @latest_news[1].created_at.strftime('%d.%m.%Y') %>
													</time>
												</a>
											</span>
											<span class="author vcard">
												<a class="url fn n" href="#" rel="author"><span>by</span> Amir</a>
											</span>
										</div>
									</div>
									<h4 class="entry-title">
										<a href="<%= post_path(@latest_news[1]) %>" data-turbo="false" rel="bookmark">
											<%= @latest_news[1].title %>
										</a>
									</h4>

									<!-- .entry-meta -->
								</header>
								<!-- .entry-header -->

								<div class="entry-content">
									<p>
										<%= truncate_html(@latest_news[1].content.body.to_html, length: 85) %>
									</p>
								</div><!-- .entry-content -->
							</div><!-- .item-content -->
						</article>
						<article class="vertical-item side-item ls rounded post type-post status-publish format-standard has-post-thumbnail">
							<div class="item-media post-thumbnail">
								<a href="<%= post_path(@latest_news[2]) %>" data-turbo="false">
									<%= image_tag @latest_news[2].image %>
								</a>
							</div><!-- .post-thumbnail -->
							<div class="item-content">
								<header class="entry-header">
									<div class="entry-meta">
										<div class="byline">
											<span class="date">
												<a href="#" rel="bookmark">
													<time class="published entry-date">
														<%= @latest_news[2].created_at.strftime('%d.%m.%Y') %>												</time>
													</a>
												</span>
												<span class="author vcard">
													<a class="url fn n" href="#" rel="author"><span>by</span> Amir</a>
												</span>
											</div>
										</div>
										<h4 class="entry-title">
											<a href="<%= post_path(@latest_news[2]) %>" data-turbo="false" rel="bookmark">
												<%= @latest_news[2].title %>
											</a>
										</h4>

										<!-- .entry-meta -->
									</header>
									<!-- .entry-header -->

									<div class="entry-content">
										<p>
											<%= truncate_html(@latest_news[2].content.body.to_html, length: 120) %>
										</p>
									</div><!-- .entry-content -->
								</div><!-- .item-content -->
							</article>
						</div>

					</div>
					<% end %>
					<div class="mt--30"></div>
				</div>
			</div>
		</div>
	</section>


