
<p style="color: green"><%= notice %></p>

<!-- template sections -->

<!--topline section visible only on small screens|-->

      <%= render "layouts/slide"%>


<section class="product-menu ds text-sm-left text-center container-px-0 c-gutter-0">
	<div class="container-fluid">
		<div class="row service-v2">
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-81"></i>
						</div>
					</a>
					<a href="#">
						<h5>
							Bitumen
						</h5>
					</a>

					<p>Premium bitumen supplier for global infrastructure projects</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-201"></i>
						</div>
					</a>
					<a href="#">
						<h5>
							RPO
						</h5>
					</a>

					<p>Premium RPO supplier: Trusted quality, global exports</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-211"></i>
						</div>
					</a>
					<a href="#">
						<h5>
							Slack Wax
						</h5>
					</a>

					<p>Premium-grade slack wax for global exports</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-61"></i>
						</div>
					</a>
					<a href="#">
						<h5>
							Base Oil
						</h5>
					</a>

					<p>Premium, versatile, sustainable base oil for global export excellence</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-192"></i>
						</div>
					</a>
					<a href="#">
						<h5>
							Paraffin Wax
						</h5>
					</a>

					<p>High-grade, refined paraffin wax for global export</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-161"></i>


						</div>
					</a>
					<a href="#">
						<h5>
							Footsoil
						</h5>
					</a>

					<p>Premium foots oil for global export: Quality, reliability, efficiency</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
		</div>
	</div>
</section>






<section class="ls ms s-pt-xl-160 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-280 s-pb-lg-250 s-pb-md-90 s-pb-60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="special-heading text-center">
					<span class="text-capitalize">
						Latest News
					</span>
				</h2>
				<p class="special-heading text-center">
					<span class="text-capitalize color-darkgrey bold">
						our blog
					</span>
				</p>
				<div class="divider-50 hidden-below-lg"></div>
				<div class="divider-30 hidden-above-lg"></div>
				<div class="shortcode-posts row tiled-layout c-gutter-30 c-mb-30">
					<div class="bigitem col-xl-6 col-lg-5">
						<article class="vertical-item ls rounded post type-post status-publish format-standard has-post-thumbnail">
							<div class="item-media post-thumbnail">
								<a href="#">
									<%= image_tag 'blog/1.jpg' %>

								</a>
							</div><!-- .post-thumbnail -->
							<div class="item-content">
								<header class="entry-header">
									<div class="entry-meta">
										<div class="byline">
											<span class="date">
												<a href="#" rel="bookmark">
													<time class="published entry-date" datetime="2019-04-09T12:23:09+00:00">30.07.2023</time>
												</a>
											</span>
											<span class="author vcard">
												<a class="url fn n" href="#" rel="author"><span>by</span> Amir</a>
											</span>
										</div>
									</div>
									<h4 class="entry-title">
										<a href="#" rel="bookmark">
Global Rubber Process Oil Market – Industry Trends and Forecast to 2028										</a>
									</h4>

									<!-- .entry-meta -->
								</header>
								<!-- .entry-header -->

								<div class="entry-content">
									<p>
The rubber process oil market is projected to experience a steady growth rate of 4.45% during the forecast period spanning from 2021 to 2028. This growth can be attributed to the significant expansion of the tire manufacturing industry worldwide, which serves as a key driving force behind the increasing demand for rubber process oil.									</p>
								</div><!-- .entry-content -->
							</div><!-- .item-content -->
						</article><!-- #post-## -->
					</div>
					<div class=" smallitem col-xl-6 col-lg-7">
						<article class="vertical-item side-item ls rounded post type-post status-publish format-standard has-post-thumbnail">
							<div class="item-media post-thumbnail">
								<a href="#">
									<%= image_tag 'blog/2.jpg' %>

								</a>
							</div><!-- .post-thumbnail -->
							<div class="item-content">
								<header class="entry-header">
									<div class="entry-meta">
										<div class="byline">
											<span class="date">
												<a href="#" rel="bookmark">
													<time class="published entry-date" datetime="2019-04-09T12:23:09+00:00">25.07.2023</time>
												</a>
											</span>
											<span class="author vcard">
												<a class="url fn n" href="#" rel="author"><span>by</span> Amir</a>
											</span>
										</div>
									</div>
									<h4 class="entry-title">
										<a href="#" rel="bookmark">
Weekly Bitumen Report
										</a>
									</h4>

									<!-- .entry-meta -->
								</header>
								<!-- .entry-header -->

								<div class="entry-content">
									<p>
Last week, the bitumen industry faced intense competition and the Rial gained strength .. 								</p>
								</div><!-- .entry-content -->
							</div><!-- .item-content -->
						</article>
						<article class="vertical-item side-item ls rounded post type-post status-publish format-standard has-post-thumbnail">
							<div class="item-media post-thumbnail">
								<a href="#">
									<%= image_tag 'blog/3.jpg' %>
								</a>
							</div><!-- .post-thumbnail -->
							<div class="item-content">
								<header class="entry-header">
									<div class="entry-meta">
										<div class="byline">
											<span class="date">
												<a href="#" rel="bookmark">
													<time class="published entry-date" datetime="2019-04-09T12:23:09+00:00">24.07.2023</time>
												</a>
											</span>
											<span class="author vcard">
												<a class="url fn n" href="#" rel="author"><span>by</span> Amir</a>
											</span>
										</div>
									</div>
									<h4 class="entry-title">
										<a href="#" rel="bookmark">
Oil markets will face ‘serious problems’ as demand from China and India ramps up:
										</a>
									</h4>

									<!-- .entry-meta -->
								</header>
								<!-- .entry-header -->

								<div class="entry-content">
									<p>
According to an official from the International Energy Forum, oil prices are expected to increase in the latter half of the year..									</p>
								</div><!-- .entry-content -->
							</div><!-- .item-content -->
						</article>
					</div>
				</div>
				<div class="mt--30"></div>
			</div>
		</div>
	</div>
</section>


