<div id="<%= dom_id inqury %>">
  <p>
    <strong>Full name:</strong>
    <%= inqury.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= inqury.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= inqury.phone %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= inqury.company %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= inqury.product %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inqury.quantity %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= inqury.country %>
  </p>

  <p>
    <strong>Port:</strong>
    <%= inqury.port %>
  </p>

  <p>
    <strong>Packing:</strong>
    <%= inqury.packing %>
  </p>

</div>
