<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, rows: 8 %>
  </div>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.text_field :kind %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.text_field :category %>
  </div>
  <br>
    <div>
    <%= form.label :image %>
    <%= form.file_field :image, accept: 'image/jpeg, image/jpg, image/png' %>
    <p class="small">Accepted file formats: JPEG, JPG, PNG</p>
  </div>
  <br>


  <div>
    <%= form.label :tag, style: "display: block" %>
    <%= form.text_field :tag %>
  </div>

  <div>
 <%= form.submit "create", class: "btn btn-gradient big-btn", data: { turbo: false } %>  </div>
<% end %>
