<% content_for :title, "Latest Bitumen Industry Insights | Market Trends | Global Supplier News" %>
<% content_for :description, "Stay updated with the latest bitumen industry insights, market trends, and global supplier news. Dive into detailed articles for a deep understanding of the bitumen market." %>
<% content_for :keywords, "bitumen industry, bitumen market trends, bitumen insights, global bitumen news, bitumen supplier updates" %>

<% content_for :og_title, "Explore the Latest in Bitumen Industry Insights and Trends" %>
<% content_for :og_description, "Discover in-depth articles and analysis on bitumen market trends, supplier news, and industry forecasts. Your ultimate source for bitumen industry updates." %>



<% content_for :twitter_title, "Latest Bitumen Market Insights | Read Now!" %>
<% content_for :twitter_description, "Catch up on the latest trends and news in the bitumen industry. Click to read detailed articles from trusted global suppliers and market analysts." %>





  <% base_url = root_url.chomp('/') %>
  <% if action_name == 'index' %>
    <% canonical_url = base_url + '/posts' %>
  <% elsif ['news', 'applications', 'articles'].include?(action_name) %>
    <% canonical_url = base_url + "/posts/#{action_name}" %>
  <% else %>
    <% canonical_url = base_url %>
  <% end %>
  <% content_for :canonical, canonical_url %>



<%= render partial: 'layouts/bread', locals: { title: "BLOG", middle: "BLOG", last: action_name, bread_path: @bread_path } %>
<section class="ls ms s-pt-xl-160 s-pb-xl-280 s-pt-lg-130 s-pb-lg-250 s-py-md-90 s-py-60 c-gutter-60">
  <div class="container">
    <div class="row">
      <main class="col-lg-7 col-xl-8">
          <h2 class="special-heading text-center">
            <span class="text-capitalize">
              <%= @title.titleize %>
            </span>
          </h2>
          <p class="special-heading text-center">
            <span class="text-capitalize color-darkgrey bold">
              our blog
            </span>
          </p>
          <div class="divider-50 hidden-below-lg"></div>
          <div class="divider-30 hidden-above-lg"></div>
          <div class="col-lg-12">

            <div class="row isotope-wrapper portfolio masonry-layout c-mb-30">
              <% @latest_articles.take(10).each do |article|%>
              <div class="col-xl-6 col-md-6">
                <div class="vertical-item text-center content-padding rounded overflow-hidden">
                  <div class="item-media">
                    <% if article.image.attached? %>
                    <%= image_tag article.image, class: 'rounded', alt: "buy bitumen, bitumen price" %>
                    <% end %>
                    
                  </div>
                  <div class="item-content">
                    <h6>

                      <%= link_to article.title, post_path(article), data: { turbo: false } %>

                    </h6>

                    <p>
                      <%= truncate_html(article.content.body.to_html, length: 150) %> <%= link_to "Read more", post_path(article), data: { turbo: false } %>
                    </p>

                  </div>
                </div>

              </div>
              <% end %>


            </div>
            <!-- .isotope-wrapper-->
          </div>
        </main>
      <%= render "side_bar" %>
    </div>
  </div>
</section>


