<%= render "layouts/slide"%>
<%= render "layouts/productsmenu"%>

<% if notice %>
<p style="color: green"><%= notice %></p>
<% end %>
<section class="ls main-testimonial s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 text-center">
        <h1 class="special-heading text-center">
          <span class="text-capitalize">
            PRODUCTS
          </span>
        </h1>
        <div class="divider-30"></div>
        <a class="btn btn-gradient big-btn" href="#">get a quote</a>
      </div>
      <div class="col-12 col-lg-6 text-center">
        <div class="divider-35 hidden-above-lg"></div>
        <div class="divider--5"></div>
        <h4 class="">
          High-Quality Oil Products
        </h4>
        <p>
          At Global Synergy, we take pride in offering a wide range of high-quality oil products. With years of experience and a commitment to excellence, we provide top-notch solutions for various industries.
        </p>
      </div>
      <div class="col-12 col-lg-3 text-sm-left text-center">
        <div class="divider-35 hidden-above-lg"></div>
        <div class="signature">

          <div class="signature-content">
            <span>Get in touch with us today</span>
            <%= image_tag "logo.png"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ls  s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60 text-sm-left text-center container-px-0">
  <div class="cover-image s-cover-left">
    <img src="/images/services/bitumen.jpg" alt="01">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-12 col-lg-6">

      </div>
      <div class="col-xs-12 col-12 col-lg-6">
        <div class="content-center">
          <h2 class="special-heading numeric text-sm-left text-center">
            <span class="text-capitalize">
             Bitumen
           </span>
         </h2>
         <div class="divider-45 hidden-below-lg"></div>
         <div class="divider-30 hidden-above-lg"></div>
         <p>
         Bitumen, a vital component in road construction, is the glue that holds our transportation networks together. At Global Synergy, we specialize in providing top-quality bitumen products, essential for building sturdy and reliable road surfaces.          </p>
         <div class="divider-45 hidden-below-lg"></div>
         <div class="divider-30 hidden-above-lg"></div>
         <ul class="list-styled">
          <% @products.take(4).each do |bitumen| %>
          <li><%= link_to bitumen.name, product_path(bitumen), data: { turbo: false } %></li>
          <% end %>
        </ul>
        <div class="divider-45 hidden-below-lg"></div>
         <div class="divider-30 hidden-above-lg"></div>
          <span><%= link_to "Explore the Common Packaging Types for Bitumen", packings_path, data: { turbo: false }%></span>
        <div class="divider--10"></div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="ls  s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60 text-sm-left text-center container-px-0">
  <div class="cover-image s-cover-right">
    <img src="images/services/service2.jpg" alt="01">
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-12 col-lg-6">
        <div class="content-center">
          <h2 class="special-heading numeric text-sm-left text-center">
            <span class="text-capitalize">
              Saving Technologies
            </span>
          </h2>
          <div class="divider-45 hidden-below-lg"></div>
          <div class="divider-30 hidden-above-lg"></div>
          <p>
            Rem aperiam, eaque ipsa qillo inventore veritatis etquasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos.
          </p>
          <div class="divider-45 hidden-below-lg"></div>
          <div class="divider-30 hidden-above-lg"></div>
          <div class="shortcode-widget-area">
            <div class="widget widget_mailchimp">
              <p>
                Subscribe to Our Newsletter:
              </p>

              <form class="signup" action="/">
                <label for="mailchimp_email88">
                  <span class="screen-reader-text">Subscribe:</span>
                </label>
                <input id="mailchimp_email88" name="email" type="email" class="form-control mailchimp_email has-placeholder" placeholder="Email">
                <button type="submit" class="search-submit">
                  <span class="screen-reader-text">Subscribe</span>
                </button>
                <div class="response"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-12 col-lg-6">


      </div>
    </div>
  </div>
</section>

<section class="ls  s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60 text-sm-left text-center container-px-0">
  <div class="cover-image s-cover-left">
    <a href="images/services/service3.jpg" class="photoswipe-link side-video" data-width="800" data-height="800" data-iframe="https://www.youtube.com/embed/GhthHC0s38A"></a>
    <img src="images/services/service3.jpg" alt="01">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-12 col-lg-6">

      </div>
      <div class="col-xs-12 col-12 col-lg-6">
        <div class="content-center">
          <h2 class="special-heading numeric text-sm-left text-center">
            <span class="text-capitalize">
              Military Industry
            </span>
          </h2>
          <div class="divider-45 hidden-below-lg"></div>
          <div class="divider-30 hidden-above-lg"></div>
          <p>
            Qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam. Watch our presentation:
          </p>
          <div class="divider-50 hidden-below-lg"></div>
          <div class="divider-30 hidden-above-lg"></div>
          <div id="comingsoon-countdown"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ds s-overlay portfolio-section  s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60 text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="special-heading text-center">
          <span class="text-capitalize">
            Our Projects
          </span>
        </h2>
        <div class="divider-50 hidden-below-lg"></div>
        <div class="divider-30 hidden-above-lg"></div>
        <div class="row justify-content-center">
          <div class="col-md-10 col-xl-8">
            <div class="filters gallery-filters">
              <a href="#" data-filter="*" class="active selected">show All</a>
              <a href="#" data-filter=".corporate">Gas</a>
              <a href="#" data-filter=".business">oil</a>
              <a href="#" data-filter=".entertainment">Industry</a>
              <a href="#" data-filter=".innovations">eco</a>
              <a href="#" data-filter=".news">Factory</a>

            </div>
          </div>
        </div>
        <div class="row isotope-wrapper portfolio masonry-layout c-mb-30" data-filters=".gallery-filters">

          <div class="col-xl-4 col-sm-6 business news">

            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <img src="images/gallery/full/01.jpg" alt="img">

              </div>
              <div class="item-content">
                <div class="links-wrap">
                  <a class="link-zoom photoswipe-link" title="" href="images/gallery/full/01.jpg"></a>
                  <a class="link-anchor" title="" href="gallery-single.html"></a>
                </div>
                <h6>
                  <a href="gallery-single.html">Lorem ipsum dolor sit</a>
                </h6>

              </div>
            </div>

          </div>

          <div class="col-xl-4 col-sm-6 innovations corporate">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <img src="images/gallery/full/02.jpg" alt="img">
              </div>
              <div class="item-content ">
                <div class="links-wrap">
                  <a class="link-zoom photoswipe-link" title="" href="images/gallery/full/02.jpg"></a>
                  <a class="link-anchor" title="" href="gallery-single.html"></a>
                </div>
                <h6>
                  <a href="gallery-single.html">Amet consetetur sadipscing</a>
                </h6>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-sm-6 entertainment news innovations">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <img src="images/gallery/full/03.jpg" alt="img">

              </div>
              <div class="item-content ">
                <div class="links-wrap">
                  <a class="link-zoom photoswipe-link" title="" href="images/gallery/full/03.jpg"></a>
                  <a class="link-anchor" title="" href="gallery-single.html"></a>
                </div>

                <h6>
                  <a href="gallery-single.html">Elitr sed diam nonumy</a>
                </h6>


              </div>
            </div>
          </div>

          <div class="col-xl-4 col-sm-6 business entertainment">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <img src="images/gallery/full/04.jpg" alt="img">

              </div>
              <div class="item-content ">
                <div class="links-wrap">
                  <a class="link-zoom photoswipe-link" title="" href="images/gallery/full/04.jpg"></a>
                  <a class="link-anchor" title="" href="gallery-single.html"></a>
                </div>

                <h6>
                  <a href="gallery-single.html">Tempor invidunt ut</a>
                </h6>


              </div>
            </div>
          </div>

          <div class="col-xl-4 col-sm-6 innovations corporate">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <img src="images/gallery/full/05.jpg" alt="img">
              </div>
              <div class="item-content">
                <div class="links-wrap">
                  <a class="link-zoom photoswipe-link" title="" href="images/gallery/full/05.jpg"></a>
                  <a class="link-anchor" title="" href="gallery-single.html"></a>
                </div>

                <h6>
                  <a href="gallery-single.html">Labore et dolore magna</a>
                </h6>


              </div>
            </div>
          </div>

          <div class="col-xl-4 col-sm-6 entertainment news corporate">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <img src="images/gallery/full/06.jpg" alt="img">
              </div>
              <div class="item-content">
                <div class="links-wrap">
                  <a class="link-zoom photoswipe-link" title="" href="images/gallery/full/06.jpg"></a>
                  <a class="link-anchor" title="" href="gallery-single.html"></a>
                </div>

                <h6>
                  <a href="gallery-single.html">Aliquyam erat sed diam</a>
                </h6>


              </div>
            </div>
          </div>


        </div>
        <div class="mt--30"></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="divider-60"></div>
            <a class="btn btn-maincolor2 big-btn" href="gallery-image.html">All projects</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ls  s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60 text-sm-left text-center c-gutter-60">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="special-heading text-sm-left text-center">
          <span class="text-capitalize">
            FAQ & Information
          </span>
        </h2>
        <div class="divider-50 hidden-below-lg"></div>
        <div class="divider-30 hidden-above-lg"></div>
        <div id="accordion01" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="collapse01_header">
              <h5>
                <a data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
                  Get to know us
                </a>
              </h5>
            </div>

            <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
              <div class="card-body">
                Our team has been gelpingclients throughout the country for 10 years lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="collapse02_header">
              <h5>
                <a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
                  Get Informed
                </a>
              </h5>
            </div>
            <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01">
              <div class="card-body">
                Our team has been gelpingclients throughout the country for 10 years lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="collapse03_header">
              <h5>
                <a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
                  Get Help
                </a>
              </h5>
            </div>
            <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse03_header" data-parent="#accordion01">
              <div class="card-body">
                Our team has been gelpingclients throughout the country for 10 years lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="collapse04_header">
              <h5>
                <a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
                  Contact Us
                </a>
              </h5>
            </div>
            <div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="collapse04_header" data-parent="#accordion01">
              <div class="card-body">
                Our team has been gelpingclients throughout the country for 10 years lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="collapse09_header">
              <h5>
                <a class="collapsed" data-toggle="collapse" href="#collapse09" aria-expanded="false" aria-controls="collapse09">
                  Other Questions
                </a>
              </h5>
            </div>
            <div id="collapse09" class="collapse" role="tabpanel" aria-labelledby="collapse09_header" data-parent="#accordion01">
              <div class="card-body">
                Our team has been gelpingclients throughout the country for 10 years lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="divider-30 hidden-above-lg"></div>
        <div class="row isotope-wrapper masonry-layout images-grid c-mb-30 c-gutter-30">
          <div class="col-lg-4  col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/01.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/02.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/03.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/04.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/05.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/06.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/07.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/08.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/09.png" alt="">
              </div>
            </a>
          </div>
        </div>
        <div class="mt--30"></div>
      </div>
    </div>
  </div>
</section>
