<%= render "layouts/slide"%>
<%= render "layouts/productsmenu"%>

<% if notice %>
<p style="color: green"><%= notice %></p>
<% end %>
<section class="ls main-testimonial s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 text-center">
        <h1 class="special-heading text-center">
          <span class="text-capitalize">
            PRODUCTS
          </span>
        </h1>
        <div class="divider-30"></div>
        <%= link_to "Get A Quote", new_inqury_path, data: { turbo: false }, class: "btn btn-gradient big-btn" %>
      </div>
      <div class="col-12 col-lg-6 text-center">
        <div class="divider-35 hidden-above-lg"></div>
        <div class="divider--5"></div>
        <h4 class="">
          High-Quality Oil Products
        </h4>
        <p>
          At Global Synergy, we take pride in offering a wide range of high-quality oil products. With years of experience and a commitment to excellence, we provide top-notch solutions for various industries.
        </p>
      </div>
      <div class="col-12 col-lg-3 text-sm-left text-center">
        <div class="divider-35 hidden-above-lg"></div>
        <div class="signature">

          <div class="signature-content">
            <span>Get in touch with us today</span>
            <%= image_tag "logo.png"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ls  s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60 text-sm-left text-center container-px-0">
  <div class="cover-image s-cover-left">
    <img src="/images/services/bitumen.jpg" alt="01">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-12 col-lg-6">

      </div>
      <div class="col-xs-12 col-12 col-lg-6">
        <div class="content-center">
          <h2 class="special-heading numeric text-sm-left text-center">
            <span class="text-capitalize">
             Bitumen
           </span>
         </h2>
         <div class="divider-45 hidden-below-lg"></div>
         <div class="divider-30 hidden-above-lg"></div>
         <p>
         Bitumen, a vital component in road construction, is the glue that holds our transportation networks together. At Global Synergy, we specialize in providing top-quality bitumen products, essential for building sturdy and reliable road surfaces.          </p>
         <div class="divider-45 hidden-below-lg"></div>
         <div class="divider-30 hidden-above-lg"></div>
         <ul class="list-styled">
          <% @products.take(4).each do |bitumen| %>
          <li><%= link_to bitumen.name, product_path(bitumen), data: { turbo: false } %></li>
          <% end %>
        </ul>
        <div class="divider-45 hidden-below-lg"></div>
        <div class="divider-30 hidden-above-lg"></div>
        <span><%= link_to "Explore the Common Packaging Types for Bitumen", packings_path, data: { turbo: false }%></span>
        <div class="divider--10"></div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="ls  s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60 text-sm-left text-center container-px-0">
  <div class="cover-image s-cover-right">
    <img src="/images/services/paraffin_wax.jpg" alt="paraffin wax">
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-12 col-lg-6">
        <div class="content-center">
          <h2 class="special-heading numeric text-sm-left text-center">
            <span class="text-capitalize">
               &nbsp; Paraffin Wax
            </span>
            <br>
            <span class="h4 text-secondary">
               &nbsp; &nbsp; Semi Refined
            </span>


          </h2>
          <h6 class="mt-0"></h6>
          <div class="divider-45 hidden-below-lg"></div>
          <div class="divider-30 hidden-above-lg"></div>
          <p>
          At Global Synergy, we proudly offer a comprehensive range of Semi-Refined Paraffin Wax products, each meticulously crafted to meet the diverse needs of various industries. Our high-quality wax is known for its versatility and ability to enhance the performance and quality of countless applications.          </p>
          <div class="divider-45 hidden-below-lg"></div>
          <div class="divider-30 hidden-above-lg"></div>
          <% if @products[4] %>
          <ul class="list-styled">
            <% @products[4].grades.each do |paraffin| %>
            <li><%= link_to paraffin.name, grade_path(paraffin), data: { turbo: false } %></li>
            <% end %>
          </ul>
          <% end %>
          <div class="divider-45 hidden-below-lg"></div>
          <div class="divider-30 hidden-above-lg"></div>
          <span><%= link_to "Explore the Common Packaging Types for Paraffin Wax", packings_path, data: { turbo: false }%></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ds s-overlay portfolio-section  s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60 text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="special-heading text-center">
          <span class="text-capitalize">
            PRODUCTS
          </span>
        </h2>
        <p>Global Synergy supply wide range of oil products</p>
        <div class="divider-50 hidden-below-lg"></div>
        <div class="divider-30 hidden-above-lg"></div>
        <div class="row justify-content-center">
          <div class="col-md-10 col-xl-8">
            <div class="filters gallery-filters">
              <% @products.each do |product|%> 
              <a href="#" data-filter=".<%= product.name.parameterize%>"><%= product.name%></a>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row isotope-wrapper portfolio masonry-layout c-mb-30" data-filters=".gallery-filters">

          <% @products.each do |product|%>
          <% product.grades.each do |grade|%>
          <div class="col-xl-4 col-sm-6 <%= product.name.parameterize %>">
            <div class="card text-center">
              <div class="card-header text-secondary"><%= product.name.titleize%></div>
              <div class="card-body">
                <%= link_to grade_path(grade), data: { turbo: false } do %>
                <h5 class="card-title text-secondary">
                  <span class="text-info"><u><%= grade.name %></u></span>
                </h5>
                <% end %>
                <p class="card-text text-dark mt-4">
                  <%= truncate(grade.description, length: 100) %>
                  <%= link_to " Read more", grade_path(grade), class: "post-link text-secondary", data: { turbo: false } %>
                  <br>
                  <br>
                  <span>
                    <i class="fas fa-table"></i>
                    <strong class="text-dark">  Specification </strong>

                  </span>
 | 
                  <span>
                    <i class="fas fa-box"></i>
                    <strong class="text-dark">  Packings </strong>

                  </span>


                </p>
              </div>
            </div>
            
          </div>
          <% end %>
          <% end %>

        </div>
        <div class="mt--30"></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="divider-60"></div>
            <a class="btn btn-maincolor2 big-btn" href="gallery-image.html">All projects</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ls  s-py-xl-160 s-py-lg-130 s-py-md-90 s-py-60 text-sm-left text-center c-gutter-60">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="special-heading text-sm-left text-center">
          <span class="text-capitalize">
            FAQ & Information
          </span>
        </h2>
        <div class="divider-50 hidden-below-lg"></div>
        <div class="divider-30 hidden-above-lg"></div>
        <div id="accordion01" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="collapse01_header">
              <h5>
                <a data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
                  Get to know us
                </a>
              </h5>
            </div>

            <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
              <div class="card-body">
                Our team has been gelpingclients throughout the country for 10 years lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="collapse02_header">
              <h5>
                <a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
                  Get Informed
                </a>
              </h5>
            </div>
            <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01">
              <div class="card-body">
                Our team has been gelpingclients throughout the country for 10 years lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="collapse03_header">
              <h5>
                <a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
                  Get Help
                </a>
              </h5>
            </div>
            <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse03_header" data-parent="#accordion01">
              <div class="card-body">
                Our team has been gelpingclients throughout the country for 10 years lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="collapse04_header">
              <h5>
                <a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
                  Contact Us
                </a>
              </h5>
            </div>
            <div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="collapse04_header" data-parent="#accordion01">
              <div class="card-body">
                Our team has been gelpingclients throughout the country for 10 years lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="collapse09_header">
              <h5>
                <a class="collapsed" data-toggle="collapse" href="#collapse09" aria-expanded="false" aria-controls="collapse09">
                  Other Questions
                </a>
              </h5>
            </div>
            <div id="collapse09" class="collapse" role="tabpanel" aria-labelledby="collapse09_header" data-parent="#accordion01">
              <div class="card-body">
                Our team has been gelpingclients throughout the country for 10 years lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="divider-30 hidden-above-lg"></div>
        <div class="row isotope-wrapper masonry-layout images-grid c-mb-30 c-gutter-30">
          <div class="col-lg-4  col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/01.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/02.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/03.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/04.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/05.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/06.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/07.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/08.png" alt="">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6  ">
            <a href="#">
              <div class="bordered text-center p-xl-50 p-20 rounded">
                <img src="images/partners/09.png" alt="">
              </div>
            </a>
          </div>
        </div>
        <div class="mt--30"></div>
      </div>
    </div>
  </div>
</section>
