<% content_for :title, @product.seo_tag.title if defined?(@product) && @product.seo_tag.present? %>
<% content_for :description, @product.seo_tag.description if defined?(@product) && @product.seo_tag.present? %>
<% content_for :keywords, @product.seo_tag.keywords if defined?(@product) && @product.seo_tag.present? %>

<%= render "layouts/slide"%>
<%= render "layouts/productsmenu"%>


<section class="ls s-pt-xl-160 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-280 s-pb-lg-250 s-pb-md-90 s-pb-60 c-gutter-60">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p style="color: green"><%= notice %></p>

        <h3>
          <%= @product.name.titleize %>
        </h3>
        <hr>
        <%= render @product %>


      </div>
    </div>
  </div>
</section>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "<%= @product.name %>",
    "description": "<%= @product.description %>",
    "image": "",
    "mpn": "HS Code", // Using HS code as the Manufacturer Part Number
    "brand": {
      "@type": "Brand",
      "name": "Sepahan"
    },
    "offers": {
      "@type": "Offer",
      "priceCurrency": "USD",
      "availability": "https://schema.org/InStock"
    }
  }
</script>


<% @product.grades.each do |grade| %>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "<%= @product.name %> <%= grade.name %>",
      "description": "<%= grade.description %>",
      "mpn": "HS Code", // Using HS code as the Manufacturer Part Number
      "brand": {
        "@type": "Brand",
        "name": "Jeyoil iranol"
      },
      "offers": {
        "@type": "Offer",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock"
      }
    }
  </script>
<% end %>

