<footer  id="page-footer" class="page_footer  text-center c-gutter-100 text-sm-left  ds">
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-lg-4 col-md-6 order-1 order-lg-1  animate" data-animation="fadeInUp">
				<div class="fw-divider-space divider-xl-160 divider-lg-130 divider-md-90 divider-60"></div>
				

				<%= link_to root_path, class: "logo", data: { turbo: false }  do %>
				<!-- <a href="https://globalsynergy-co.org" class="logo"> -->
					<span class="d-flex flex-column">
						<!-- <span class="logo-text color-darkgrey">Global</span> -->
						<%= image_tag 'logo.png', class: "logo-footer" %>

						<!-- <span class="logo-text color-darkgrey">Synergy</span> -->
						<!-- <span class="logo-subtext">Synergy</span> -->
					</span>
				</a>
				<% end %>


				<p class="text-justify">
				Global Synergy: Leading oil derivatives exporter delivering premium products worldwide with unmatched service, forging lasting partnerships.</p>
				<a href="https://www.facebook.com/settings?tab=profile&section=username" class="fab fa-facebook-f rounded-icon bg-icon fs-16" title="facebook"></a>
				<a href="#" class="fab fa-twitter rounded-icon bg-icon fs-16" title="telegram"></a>
				<a href="https://www.linkedin.com/company/global-synergy-commercial-brokers/" class="fab fa-linkedin-in rounded-icon bg-icon fs-16" title="linkedin"></a>
				<a href="https://wa.me/971505128033" class="fab fa-whatsapp rounded-icon bg-icon fs-16" title="instagram"></a>
				<div class="fw-divider-space divider-xl-160 divider-lg-130 divider-md-60 divider-30"></div>
			</div>

			<div id="contact-link" class="col-lg-4 col-md-12 ls order-3 order-lg-2 footer-special-column text-center animate" data-animation="fadeInUp">
				<div class="form-wrapper">
					<%= form_with(model: contact_for_form, url: contacts_path, method: :post, class: "contact-form") do |form| %>
					<% if notice %>
					<div class="alert alert-success"><%= notice %></div>
					<% end %>


					<div class="row c-mb-20">
						<div class="col-12 form-title text-center form-builder-item">
							<div class="header title">
								<h2>Write Us</h2>
							</div>
						</div>
					</div>
					<div class="row c-mb-10 c-gutter-10">
						<div class="col-lg-12 text-center">
							<div class="form-group has-placeholder">
								<%= form.label :full_name %>
								<%= form.text_field :full_name, class: "form-control", placeholder: "Full Name", required: true %>
							</div>
						</div>
					</div>
					<div class="row c-mb-10 c-gutter-10">
						<div class="col-lg-12 text-center">
							<div class="form-group has-placeholder">
								<%= form.label :phone %>
								<%= form.text_field :phone, class: "form-control", placeholder: "Phone Number", required: true %>
							</div>
						</div>
					</div>
					<div class="row c-mb-10 c-gutter-10">
						<div class="col-sm-12 text-center">
							<div class="form-group has-placeholder">
								<%= form.label :message %>
								<%= form.text_area :message, class: "form-control", placeholder: "Your Message", required: true, rows: 6, cols: 45 %>
							</div>
						</div>
					</div>
					<div class="row c-mb-10 c-gutter-10">
						<div class="col-sm-12 text-center mt-2">
							<div class="form-group has-placeholder">
								<%= recaptcha_tags %>
							</div>
						</div>
					</div>


					<div class="row c-mb-10 c-gutter-10">
						<div class="col-sm-12 mb-0 mt-50">
							<div class="form-group">
								<%= form.submit "Send message", class: "btn btn-gradient big-btn", data: { turbo: false } %>
							</div>
						</div>
					</div>
					<% end %>
				</div>
				<h6 class="fs-12 text-uppercase">&copy; Copyright <span class="copyright_year"><%= Time.now.year %></span> All Rights Reserved</h6>

			</div>


			<div class="col-lg-4 col-md-6 order-2 order-lg-3 animate" data-animation="fadeInUp">
				<div class="fw-divider-space divider-xl-160 divider-lg-130 divider-md-90"></div>
				<div class="widget widget_icons_list">
					<ul>
						<li class="icon-inline">
							<div class="icon-styled icon-top bordered round  fs-16">
								<i class="fas fa-phone"></i>
							</div>
							<p>
								Sales: +971 505 12 8033 <br>
								Marketing: +971 589 27 8033
							</p>
						</li>
						<li class="icon-inline ">
							<div class="icon-styled icon-top bordered round  fs-16">

								<i class="fab fa-whatsapp fa-lg"></i>
							</div>
							<p>+971 505 12 8033 </p>
						</li>
						<li class="icon-inline">
							<div class="icon-styled icon-top bordered round  fs-16">
								<i class="fas fa-envelope"></i>


							</div>
							<p>info[at]globalsynergy-co.org</p>
						</li>
						<li class="icon-inline">
							<div class="icon-styled icon-top bordered round  fs-16">
								<i class="fas fa-map-marker-alt"></i>
							</div>
							<p>
								305, Centurion Star Tower, Block B<br>
								Port Saeed, Deira, Dubai, UAE
							</p>
						</li>
						<li class="icon-inline">
							<div class="icon-styled icon-top bordered round  fs-16">
								<i class="fas fa-clock"></i>
							</div>
							<p>
								Mo-Fri: 8am - 6pm<br>
								Sat: 10am - 4pm<br>
								Sun: Closed
							</p>
						</li>
					</ul>
				</div>
				<div class="fw-divider-space divider-xl-160 divider-lg-130 divider-md-60 divider-30"></div>
			</div>
		</div>
	</div>
</footer>