<div class="header_absolute">
	<!--eof topline-->
	<!-- header with two Bootstrap columns - left for logo and right for navigation -->
	<header class="sixox-menu page_header_side header_slide header-special header_side_right ds">

		<div class="scrollbar-macosx">
			<div class="side_header_inner">
				<p class="text-right mb-0 close-wrapper"><a href="javascript:void(0)">×</a></p>

				<div class="widget widget_recent_posts">

					<h3 class="widget-title">Our news</h3>
					<% if @menu_news_3[2] %>
					<ul class="list-unstyled">
						<% @menu_news_3.each do |news|%>
						<li class="media">
							<article class="vertical-item  post type-post status-publish format-standard has-post-thumbnail">
								<div class="item-content">
									<div class="entry-header">
										<div class="entry-meta">
											<div class="byline">
												<span class="date">
													<a href="#">
														<time class="published entry-date" datetime="<%= news.updated_at.iso8601 %>">
															<%= news.updated_at.strftime("%d.%m.%Y") %>
														</time>
													</a>
												</span>
												<span class="author vcard">
													<a class="url fn n" href="#" rel="author"><span>by</span> Global Synergy</a>
												</span>
											</div>
										</div>
										<h4 class="entry-title">
											<%= link_to news.title, post_path(news) %>
										</h4>

										<!-- .entry-meta -->
									</div>
									<!-- .entry-header -->
								</div><!-- .item-content -->
							</article>
						</li>
						<% end %>


					</ul>
					<% end %>
				</div>
				<div class="widget widget_about">
					<h3 class="widget-title">About</h3>
					<p>
					Premier supplier of oil derivatives, specializing in bitumen. We offer top-quality products at competitive prices, ensuring unmatched service and establishing enduring global partnerships.				</div>
					<div class="widget widget_mailchimp">
						<h3 class="widget-title">Newsletter</h3>

						<form class="signup" action="/">
							<label for="mailchimp_email88d">
								<span class="screen-reader-text">Subscribe:</span>
							</label>
							<input id="mailchimp_email88d" name="email" type="email" class="form-control mailchimp_email has-placeholder" placeholder="Email">
							<button type="submit" class="search-submit">
								<span class="screen-reader-text">Subscribe</span>
							</button>
							<div class="response"></div>
						</form>
					</div>
					<div class="widget widget_social_icons">
						<a href="https://www.facebook.com/settings?tab=profile&section=username" class="fab fa-facebook-f rounded-icon bg-icon fs-16" title="facebook"></a>
						<a href="#" class="fab fa-twitter rounded-icon bg-icon fs-16" title="telegram"></a>
						<a href="https://www.linkedin.com/company/global-synergy-commercial-brokers/" class="fab fa-linkedin-in rounded-icon bg-icon fs-16" title="linkedin"></a>
						<a href="#" class="fab fa-instagram rounded-icon bg-icon fs-16" title="instagram"></a>
					</div>
				</div>
			</div>
		</header>

		<header class="page_header header-1 ds bg-transparent s-py-xl-20 s-py-10 ">

			<div class="container-fluid">

				<div class="row d-flex align-items-center justify-content-center">
					<div class="col-xl-3 col-md-4 col-12 text-center">
						<%= link_to root_path, class: "logo", data: { turbo: false }  do %>
						<!-- <a href="https://globalsynergy-co.org" class="logo"> -->
							<%= image_tag 'logo.png', style: 'height:auto;width:303px;', alt: "buy bitumen, bitumen price" %>
							<span class="d-flex flex-column">
								<!-- <span class="logo-text color-darkgrey">Global</span> -->

								<!-- <span class="logo-text color-darkgrey">Synergy</span> -->
								<!-- <span class="logo-subtext">Synergy</span> -->
							</span>
						</a>
						<% end %>
					</div>
					<div class="col-xl-6 col-1 text-right pr-5">
						<!-- main nav start -->
						<nav class="top-nav">
							<ul class="nav sf-menu">


								<li class="active">
									<%= link_to "Home", root_path, data: { turbo: false } %>

								</li>

								
								<!-- eof pages -->


								<li>
									<a href="#">Bitumen</a>
									<div class="mega-menu">
										<ul class="mega-menu-row">
											<li class="mega-menu-col">
												<%= link_to "Oxidized Bitumen", safe_path_for(Product, "oxidized-bitumen"), data: { turbo: false } %>
												<ul>
													<li>
														<%= link_to "Oxidized 90/10", safe_path_for(Grade, "90-10"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "Oxidized 115/15", safe_path_for(Grade, "115-15"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "Oxidized 90/15", safe_path_for(Grade, "90-15"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "Oxidized 95/25", safe_path_for(Grade, "95-25"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "Oxidized 85/25", safe_path_for(Grade, "85-25"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "See All Grades", safe_path_for(Product, "oxidized-bitumen"), data: { turbo: false } %>
													</li>
												</ul>
											</li>
											<li class="mega-menu-col">
												<%= link_to "Penetration Bitumen", safe_path_for(Product, "penetration-bitumen"), data: { turbo: false } %>
												<ul>
													<li>
														<%= link_to "Penetration 40/50", safe_path_for(Grade, "40-50"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "Penetration 60/70", safe_path_for(Grade, "60-70"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "Penetration 80/100", safe_path_for(Grade, "80-100"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "Penetration 90/130", safe_path_for(Grade, "90-130"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "Penetration 160/220", safe_path_for(Grade, "160-220"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "See All Grades", safe_path_for(Product, "penetration-bitumen"), data: { turbo: false } %>
													</li>
												</ul>
											</li>
											<li class="mega-menu-col">
												<%= link_to "Cutback Bitumen", safe_path_for(Product, "cutback-bitumen"), data: { turbo: false } %>
												<ul>
													<li>
														<%= link_to "MC 30", safe_path_for(Grade, "mc-30"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "MC 70", safe_path_for(Grade, "mc-70"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "MC 3000", safe_path_for(Grade, "mc-3000"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "SC 30", safe_path_for(Grade, "sc-30"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "SC 70", safe_path_for(Grade, "sc-70"), data: { turbo: false } %>
													</li>
													<li>
														<%= link_to "See All Grades", safe_path_for(Product, "cutback-bitumen"), data: { turbo: false } %>
													</li>
												</ul>
											</li>
											<li class="mega-menu-col">
												<%= link_to "Emulsion Bitumen", safe_path_for(Product, "emulsion-bitumen"), data: { turbo: false } %>
												<ul>
													<li>
														<%= link_to "SS1", safe_path_for(Grade, "ss1"), data: { turbo: false } %>
													</li>
													<!-- The links for CRS, CMS, etc., appear to be static HTML links rather than Rails path helpers -->
													<li><a href="footer2.html#footer">CRS</a></li>
													<li><a href="footer3.html#footer">CMS</a></li>
													<li><a href="footer4.html#footer">CRS</a></li>
												</ul>
											</li>
										</ul>

									</div> <!-- eof mega menu -->
								</li>
								<!-- eof features -->


								<!-- blog -->
								<li>
									<a href="blog-right.html">Blog</a>
									<ul>

										<li>
											<a href="#">Applications</a>
										</li>
										<li>
											<a href="#">News</a>
										</li>
										<li>
											<a href="#">Articles</a>
										</li>





									</ul>
								</li>
								<!-- eof blog -->

								<!-- shop -->
								<li>
									<%= link_to "Inquiry", new_inqury_path, data: { turbo: false } %>
									
								</li>
								<!-- eof shop -->

								<!-- contacts -->
								<li>
									<a href="#page-footer">Contact</a>
								</li>
								<!-- eof contacts -->
							</ul>


						</nav>
						<!-- eof main nav -->
					</div>
					<div class="col-xl-3 col-md-7 col-12  d-flex justify-content-md-end">
						<ul class="top-includes">
							<li class="metaphone">
								<a href="tel:+971505128033" class="text-white">+971 505 12 8033</a>
							</li>
							<li class="special-menu">
								<span class="toggle_menu toggle_menu_side header-slide toggle_menu_side_special"><span></span></span>
							</li>
						</ul>


					</div>

				</div>

			</div>
			<!-- header toggler -->
			<span class="toggle_menu"><span>menu</span></span>
		</header>
	</div>