<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Bitumen Price" %></title>
  <meta name="description" content="<%= yield(:description) || "price of bitumen " %>">
  <meta name="keywords" content="<%= yield(:keywords) || "price of bitumen " %>">

  <!-- Open Graph tags -->
  <meta property="og:title" content="<%= yield(:og_title) || yield(:title) || "Bitumen Price" %>">
  <meta property="og:description" content="<%= yield(:og_description) || yield(:description) || "bitumen price in iran" %>">
  <meta property="og:image" content="<%= yield(:og_image) || image_url('logo.png') %>">
  <meta property="og:url" content="<%= canonical_url %>">

  <!-- Twitter Card tags -->
  <meta name="twitter:title" content="<%= yield(:twitter_title) || yield(:title) || "Bitumen Price" %>">
  <meta name="twitter:description" content="<%= yield(:twitter_description) || yield(:description) || "bitumen price in iran" %>">
  <meta name="twitter:image" content="<%= yield(:twitter_image) || image_url('logo.png') %>">
  <meta name="twitter:url" content="<%= canonical_url %>">
  <meta name="twitter:card" content="summary_large_image"> <!-- Usually either 'summary' or 'summary_large_image' -->

  <!-- Canonical URL -->
  <%= canonical_url_tag %>



<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Global Synergy",
  "url": "https://globalsynergy-co.org",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+971-50-5128033",
    "contactType": "sales",
    "areaServed": "Worldwide",
    "availableLanguage": ["English", "Arabic"]
  }],
  "sameAs": [
    "https://www.facebook.com/GlobalSynergy.org",
    "https://www.linkedin.com/company/global-synergy-c"
  ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "305, Centurion Star Tower, Deira",
    "addressLocality": "Dubai",
    "addressRegion": "Dubai",
    "addressCountry": "UAE"
  },
  "foundingDate": "2001-01-01"
}
</script>










  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DKNERWM2W5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DKNERWM2W5');
  </script>

  <title>GlobalSynergy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_importmap_tags %>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/font-awesome5.css">
  <link rel="stylesheet" href="/css/icomoon.css">
  <link rel="stylesheet" href="/css/main.css" class="color-switcher-link">
  <link rel="stylesheet" href="/css/shop.css" class="color-switcher-link">
  <script src="/vendor/modernizr-2.6.2.min.js"></script>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  
</head>

<body>
  <%= render "layouts/topbar"%>
  <div id="canvas">
    <div id="box_wrapper">
      <%= render "layouts/header"%>
      <%= yield %>
      <%= render "layouts/footer"%>
    </div>
  </div>
  <script src="/javascripts/compressed.js"></script>
  <script src="/javascripts/main.js"></script>

</body>
</html>
